body {
	width: 1024px;
	padding: 0 75px;
}

nav ul {
	display: inline-block;
}

nav ul li {
	display: inline-block;
	padding-right: 45px;
}

header div {
	display: inline-block;
}

header h1 {
	font-size: 4.5em;
}

.content-box {
	display: inline-block;
	width: 49%;
}

.content-2 {
	display: inline-block;
	width: 33%;
}
