body {
	width: 1024px;
	padding: 0px 75px;
}

header > div {
	display: inline-block;
}

nav {
	padding: 40px 0;
}

nav ul {
	display: inline-block;
}

nav ul li {
	display: inline-block;
	margin: 0 20px;
}

nav ul li:last-child {
	right: 0;
}

nav a img {
	float: right;
	margin-top: -10px;
}

section {
	border-top: 1px solid black;
}

.container {
	text-align: center;
	margin: 0 auto;
}

.middle-img {
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
